/*Estilos de la tabla*/
td{
    padding: 10px 80px;  
}
tr:nth-child(even){
    background-color: lightgray;
}
tr:hover{
    background-color: rgb(135, 180, 252);
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.tableButton {
    background-color: rgb(246, 186, 186);
    border: solid 1px black;
    border-radius: 25%;
    width: 65px;
    height: 30px;
}

/*Estilos de la tabla*/

.color-red{
    color: red;
    font-weight: bold;
}