<H2>Lista de Productos</H2>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productItem of productList">
                <th>{{productItem.id}}</th>
                <td>{{productItem.name}}</td>
                <td [ngClass]="{'color-red': productItem.price<0}">{{productItem.price | currency}}</td>
                <td><button class="tableButton" [routerLink]="['/products',productItem.id]">Detalle</button></td>
            </tr>
        </tbody>
        <tfoot>
            <th>Total:</th>
            <td>-</td>
            <td>-</td>
        </tfoot>
    </table>
</div>
